/*  
Skin Name: Green
Version: 1.0
Description: Skin for Agency
*/

a {
	color: #82a45b;
}

/* general button background */
input[type=reset], input[type=submit], button,
a.shortcode.button,
.post-nav .arrow,
.single-portfolio .carousel-pager a.selected,
.sorting-nav .active a, .sorting-nav .current-cat a,
.back-top a,
.pagenav a {
	background-color: #75974e;
}

/* sliderwrap and footerwrap */
#sliderwrap,
#footerwrap {
	background-color: #e7efdd;
}