@charset "utf-8";
/* CSS Document */

/*----*****---- << General >> ----*****----*/

	body { background:#fffae4 url(../../img/top-bg.jpg) repeat-x; color:#4e4635; }

	/*----*****---- << Headings >> ----*****----*/
	
	h1,h2,h3,h4,h5,h6{ color:#322f20; }

	h1.title, h2.title, h3.title, h4.title, h5.title, h6.title { background:url(../../img/title-border.png) bottom repeat-x; color:#fffae4; text-shadow:-1px -1px 0px #634e37; }
	h1.title span, h2.title span, h3.title span, h4.title span, h5.title span, h6.title span { background:url(../../img/title-bg.jpg) repeat; }

	/*----*****---- << Text Elements >> ----*****----*/
	
	a{ color:#687719; }
	.letters {font-weight: bold; font-size: 20px; margin-bottom: 5px;}
	blockquote{ color:#4e4635; border:1px solid #cfc89d; background:#e5deb0 url(../../img/quote.png) 10px 15px no-repeat; }
	blockquote span{ color:#666666; }

	blockquote.type2 { background-image:url(../../img/quote2.png); }
	blockquote.type3 { background-image:url(../../img/quote3.png); }
	blockquote.type4 { background-image:url(../../img/quote4.png); }

	pre, code{ border-left:5px solid #dcd6ae; background-color:#f1eccd; }

	hr{ background-color:#efefef; color:#efefef; }

	/* due to IE <HR> margin bugs I had to made classed and apply them to div to achieve the effect of a <HR> */

	.hr{ background:url(../../img/splitter.jpg) repeat-x; }

	.hr.thin{ background:url(../../img/splitter-thin.jpg) repeat-x; }

	/*----*****---- << Tables >> ----*****----*/

	th{ background:url(../../img/tab-bg.jpg) repeat !important; color:#fffae4; text-shadow:-1px -1px 0px #634e37; border-bottom:1px solid #fffae4; }	
	td{ background:#e5deb0; color:#4e4635; border-bottom:1px solid #FFFAE4; }
	tr.even td{ background:#d4cc9a; }
	tfoot td { background:#d4cc9a; border-bottom:4px solid #9d9564; }

	/*----*****---- << Forms >> ----*****----*/

	label{ color:#4e4635; }
	fieldset{ border:1px solid #2e3338; }
	
	input[type=text], input[type=password], input.text, textarea,select{ background-color:#fbf2ce; border:1px solid #bbaf9b; color:#4e4635; }
	select{ background-color:#fbf2ce; border:1px solid #bbaf9b; padding:5px;}

	input[type=submit]:hover { background:url(../../img/btn-bg-hover.jpg) repeat; }	

	/*----*****---- << ../../img >> ----*****----*/

	.post-content img { border:2px solid #617b00; }

	.wp-caption { background:#ECE8D5; }	
	.wp-caption .wp-caption-text { color:#4E4635; }
	.wp-caption:hover { background:#819a16; }
	.wp-caption:hover .wp-caption-text { color:#fffae4; }

	.rounded-img { background:#ebaa98; }
	.rounded-img:hover { background:#a06c5d; }

	.green-border { border:5px solid #617b00; }
	.pink-border { border:5px solid #a06c5d; }

	/*----*****---- << Lists >> ----*****----*/
	
	ul.flower-bullet li a { color:#4e4635; }
	ul.flower-bullet li a:hover { color:#687719; }

	/*----*****---- << Widgets >> ----*****----*/

	.widget.widget_recent_entries img { border:3px solid #a19680; }
	.widget.widget_recent_entries img:hover { border:3px solid #617b00; }

	.widget.tweetbox ul li .tweet-time, .widget.tweetbox ul li a { color:#728b23; }

	.widget ul.contact-details span.address { background:url(../../img/addr-ico.png) center no-repeat; }
	.widget ul.contact-details span.mail { background:url(../../img/mail-ico.png) center no-repeat; }
	.widget ul.contact-details span.phone { background:url(../../img/phone-ico.png) center no-repeat; }	

	.error404 .content .widget ul.contact-details p a, .booknow-page-sidebar .widget ul.contact-details p a { color:#4e4635; }	
	.error404 .content .widget ul.contact-details p a:hover, .booknow-page-sidebar .widget ul.contact-details p a:hover { color:#687719; }
	.error404 .content .widget ul.contact-details span.address, .booknow-page-sidebar .widget ul.contact-details span.address { background:url/img/addr-ico-big.png) center no-repeat; }
	.error404 .content .widget ul.contact-details span.mail, .booknow-page-sidebar .widget ul.contact-details span.mail { background:url(/img/mail-ico-big.png) center no-repeat; }
	.error404 .content .widget ul.contact-details span.phone, .booknow-page-sidebar .widget ul.contact-details span.phone { background:url(/img/phone-ico-big.png) center no-repeat; }

	.widget.widget_calendar caption { color:#fffae4;}	
	.widget.widget_calendar th{ background:url(/img/tab-bg.jpg) repeat; color:#fffae4; text-shadow:-1px -1px 0px #634e37; border-bottom:1px solid #e5deb0; }
	.widget.widget_calendar td{ background:#e5deb0; color:#4e4635; }
	.widget.widget_calendar tr.even td{ background:#d4cc9a; }
	.widget.widget_calendar tfoot td { background:#d4cc9a; border-bottom:4px solid #9d9564; }
	.widget.widget_calendar a { color:#7d8d29; }
	.widget.widget_calendar a:hover { color:#221d1b; }	

/*----*****---- << Layout >> ----*****----*/
	/*----*****---- << Header >> ----*****----*/

	#header { background:url(../../img/header.jpg) left 55px repeat-x; border-bottom:5px solid #0d0902; }

	#top-menu { background:url(../../img/menu-bg.jpg) repeat-x; }
	ul.menu { border-left:1px solid #322f20; border-right:1px solid #322f20; }
	ul.menu li { border-bottom:5px solid #617b00; }
	ul.menu li a { color:#fffae4; }
	ul.menu li a span { color:#c0b891; }
	ul.menu li.current_page_item, ul.menu li:hover { border-bottom:5px solid #b79a65; }
	ul.menu li.current_page_item a span { background:url(../../img/menu-active-arrow.png) left top no-repeat; }	

	ul.menu ul { background:#b89a62 url(../../img/dropdown-menu.jpg) repeat; border-bottom:5px solid #967d4f; }
	ul.menu li ul li a:hover, ul.menu ul li:hover a { color:#644814; }	
	ul.menu li ul li:hover ul li:hover a { color:#644814; }	
	ul.menu li ul li:hover ul li a, ul.menu li ul li:hover ul li:hover ul li a { color:#fffae4; }
	ul.menu li ul li:hover ul li a:hover, ul.menu li ul li:hover ul li:hover ul li a:hover { color:#644814; }	
	ul.menu li ul li ul li { background:url(../../img/dropbg.png); }

	ul.menu li ul li.current_page_item a { color:#644814; }

	#searchform fieldset { background:#2e3338; }
	#searchform input[type="text"] { background:#fbf2ce; color:#2e3338; }
	#searchform input[type="submit"] { background:url(../../img/search.png) no-repeat; }

	/*----*****---- << Home Slider >> ----*****----*/

	#home-slider { background:#659C28 url(../../img/slider-bg.jpg) center top repeat-x; }
	.slider-wrapper { border-bottom:5px solid #2c3c1a; background:#5fa023 url(../../img/loading.gif) 50% 50% no-repeat; }

	.nivo-caption { left:140px; top:40%; width:340px; }

	.theme-default .nivo-caption h2 { color:#f9f1d7; }

	.theme-default .nivo-caption p { color:#f9f1d7; }

	/*----*****---- << Main >> ----*****----*/

		/*----*****---- << Home >> ----*****----*/

		/*.home #main { background:url(../../img/content-bg.jpg) center top repeat-x; }*/
		.readmore { background:#bfb092 url(../../img/readmore.png) center no-repeat; }
		.readmore:hover { background-color:#7d674e; }
		.readmore_small { background:#bfb092 url(../../img/readmore.png) center no-repeat; }
		.readmore_small:hover { background-color:#7d674e; }
			/*----*****---- << Home Services >> ----*****----*/

			.home .content-center-aligned a { color:#322f20; }
			.home .content-center-aligned a:hover { color:#7d8d29; }

			/*----*****---- << Popular Procedures >> ----*****----*/

			.box-content { background:#eadbbc; border-bottom:5px solid #bfb092; }
			.notice { color:#4e4635; }
			.notice span.right { color:#8a2626; }

	/*----*****---- << Breadcrumb >> ----*****----*/

	.breadcrumb { text-shadow:-1px -1px 0px #596a13; background:url(../../img/btn-bg-hover.jpg) repeat; }
	.breadcrumb .arrow { background:url(../../img/breadcrumb-arrow.png) no-repeat; }
	.breadcrumb a { color:#c1d56d; }
	.breadcrumb a:hover { color:#deeca2; }
	.breadcrumb .current-crumb { color:#fffae4; }

	/*----*****---- << Content >> ----*****----*/

		/*----*****---- << Contact >> ----*****----*/

		ul.contact-details span.address { background:url(../../img/addr-ico-big.png) center no-repeat; }
		ul.contact-details span.mail { background:url(../../img/mail-ico-big.png) center no-repeat; }
		ul.contact-details span.phone { background:url(../../img/phone-ico-big.png) center no-repeat; }
		ul.contact-details p a { color:#4e4635; }
		ul.contact-details p a:hover { color:#687719; }

		/*----*****---- << 404 >> ----*****----*/

		.error404 h1.big-title { color:#282d31; }
		.back-btn { background:url(../../img/back-btn.png) no-repeat; color:#322f20; text-shadow:1px 1px 0px #dbcaa5; }

		.error404 .widget h2 a { color:#322F20; }
		.error404 .widget h2 a:hover { color:#687719; }

		.error404 .widget ul li { background:url(../../img/bullet-green.png) left 1px no-repeat; }
		.error404 .widget a { color:#4e4635; }
		.error404 .widget a:hover { color:#687719; }
		.error404 .widget a.big-ico-button, .error404 .widget a.big-ico-button:hover { color:#322F20; }

		.error404 .widget.widget_calendar caption { color:#322f20; }
		.error404 #footer .widget.widget_calendar caption { color:#fffae4; }

		.error404 .widget.widget_nav_menu ul.menu li a { color:#4E4635; }
		.error404 .widget.widget_nav_menu ul.menu li a:hover { color:#687719; }


		/*----*****---- << Sidebar >> ----*****----*/

		.sidebar h2 { background:url(../../img/sidebar-title-border.png) bottom repeat-x; color:#fffae4; }
		.sidebar h2 span { background:url(../../img/sidebar-title.jpg) repeat-x; }
		
		.sidebar h2 a { color:#fffae4; }
		.sidebar h2 a:hover { color:#ebaa98; }

		.sidebar .widget ul li { background:url(../../img/bullet-green.png) left 1px no-repeat; }
		.sidebar a { color:#4e4635; margin-left:20px;}
		.sidebar a:hover { color:#687719; }
		.sidebar a.big-ico-button, .sidebar a.big-ico-button:hover { color:#322F20; }

		.sidebar .widget.widget_calendar caption { color:#322f20; }

		.sidebar .widget.widget_nav_menu ul.menu li a { color:#4E4635; }
		.sidebar .widget.widget_nav_menu ul.menu li a:hover { color:#687719; }

		/*----*****---- << Popular Procedures >> ----*****----*/

		.box-content-with-design { background:#e5deb0 url(../../img/design-border.png) right top no-repeat; }

		table.price-table td { border-bottom:1px solid #fffae4; }
		table.price-table td.even { color:#3e8711; } 

		/*----*****---- << Blog >> ----*****----*/

			ul.cat-menu li { background:url(../../img/blog-header-splitter.png) left no-repeat; }
			ul.cat-menu li span.active { border-top:10px solid #fffae4; }

			ul.cat-menu li a { color:#252212; }
			.arrow-down { border-top:10px solid #1c1909; }

			.categories-list { background:url(../../img/dark-green-bg.jpg) repeat;}
			.categories-list ul li a { color:#fffae4; background:#2d2914; border-top:2px solid #4a4633; }
			.categories-list ul li a:hover, .categories-list ul li.active a { border-color:#534f3d; background:#534f3d; }

			.post-title { background:url(../../img/title-bg.jpg) repeat; }
			.post-title h2 a { color:#fffae4; }

			.post-title h2 a:hover { color:#cec28d; }

			.sticky .post-title .featured { background:url(../../img/featured.png) right no-repeat; color:#fffae4; }
			.sticky .post-title .featured span { background:url(../../img/btn-bg-hover.jpg) repeat; }			

			.post-title .readmore:hover { background-color:#bfb092 }
			.post-title .arrow { border-right:5px solid #453829; border-top:4px solid #453829; }

			.post-details { background:#f4efd7; }				
				.post-details .date, .post-comments { background:#c8bb81 url(../../img/small-design-border.png) left 12px no-repeat; }
				.post-details .day, .post-comments .count { color:#322f20; }
				.post-details .arrow { border-right:5px solid #445600; border-top:4px solid #445600;  }
				.post-details .date-group, .post-comments span.comment { background:#617b00; color:#d5e695; } 

			.post-thumb img { border:5px solid #617b00; }
			
		.pagination { text-shadow:-1px -1px 0px #634e37; color:#fffae4; }
		.pagination a { color:#fffae4; }
		
		.pagination2 { text-shadow:-1px -1px 0px #634e37; color:#fffae4; }
		.pagination2 a { color:#fffae4; }

		.prev-post span { background:url(../../img/prev-post.png) left no-repeat; }
		.prev-post a { background:url(../../img/btn-bg.jpg) repeat; }	
		.prev-post a:hover, .next-post span:hover , .prev-post span:hover a, .next-post span:hover a { background-image:url(../../img/btn-bg-hover.jpg); }
		.prev-post span:hover { background-image:url(../../img/prev-post-hover.png); }

		.next-post span { background:url(../../img/next-post.png) right no-repeat; }
		.next-post a { background:url(../../img/btn-bg.jpg) repeat; }
		.next-post span:hover { background-image:url(../../img/next-post-hover.png); }

		.pagination ul { list-style-type:none; list-style-position:outside; text-align:center; width:100%; margin-top:8px; padding:0px; }
		.pagination ul li { display:inline-block; zoom:1; height:100%; display:inline; margin:0px 5px; }
		.pagination li span { background:url(../../img/btn-bg.jpg) repeat; padding:8px 17px 7px; height:100%; zoom:1; }
		.pagination ul li span.current, .pagination li span:hover { background:url(../../img/btn-bg-hover.jpg) repeat;  text-decoration:none; }

		.pagination2 ul { list-style-type:none; list-style-position:outside; text-align:center; width:100%; margin-top:8px; padding:0px; }
		.pagination2 ul li { display:inline-block; zoom:1; height:100%; display:inline; margin:0px 5px; }
		.pagination2 li span { background:url(../../img/btn-bg.jpg) repeat; padding:8px 17px 7px; height:100%; zoom:1; }
		.pagination2 ul li span.current, .pagination2 li span:hover { background:url(../../img/btn-bg-hover.jpg) repeat;  text-decoration:none; }

		.post-tags { background:url(../../img/light-bg.jpg) repeat; color:#fffae4; }
		.post-tags a { color:#fffae4; }
		.post-tags a:hover { color:#5b563d; }
		.post-tags span { background:url(../../img/tags-ico.png) no-repeat; }

			ul.commentlist li.comment { background:#f4efd7; }
			.gravatar { background:#79634a; border:1px solid #5d5449; }
			.gravatar span { background:#fffae4; }

			.comment-meta a { color:#4e4635; }

			.reply a { background:#7c664d; color:#fffae4;}
			.reply a:hover { background:#90a925; }

			.comment-body p { color:#5a5a5a; }

			.cancel-comment-reply a { background:#7c664d; color:#fffae4; }
			.cancel-comment-reply a:hover { background:#90a925; }

			#respond h1 { color:#7E684F; }

			.comment-body blockquote p { color:#4E4635; }
			.comment-body table td, .comment-body table th { border-bottom:1px solid #F4EFD7; }
			ul.commentlist li.bypostauthor { background:#ddd6b3; }

		ul.related-posts li { background:#eadbbc; border-bottom:5px solid #bfb092; }
		ul.related-posts li h2 a { color:#322F20; }		
		ul.related-posts li h2 a:hover { color:#EBE6D2; }		
		ul.related-posts li:hover, ul.related-posts li.active { background:#bfb092; }

		.related-slider-controls a { background:url(../../img/related-slider-arrows.png) left top no-repeat; }

		/*----*****---- << Pagination >> ----*****----*/

		.page-link { color:#4E4635; }
		.page-link a, .page-link span { background:url(../../img/btn-bg.jpg) repeat; color:#fffae4; }
		.page-link a:hover, .page-link span { background:url(../../img/btn-bg-hover.jpg) repeat; }

		.edit-link a { background:#7c664d; color:#fffae4; }
	    .edit-link a:hover { background:#90a925; }

	/*----*****---- << Gallery >> ----*****----*/

		#sorting-container a { background:#9f9a82; color:#3a3a3a; }
		#sorting-container a.active_sort, #sorting-container a.active_sort:hover { color:#fffae4; background:#839c18; }
		#sorting-container a:hover { background:#786249; color:#fffae4; }

		.no-margin.gallery-entry { background:#e5deb0; }

		.gallery-details .nav a, .single-gallery-details .nav a { background:url(../../img/slideshow-arrows.png) no-repeat; }

		.gallery-details .nav a:after, .single-gallery-details .nav a:after { background:url(../../img/slideshow-arrows.png) no-repeat; } 	
	    .gallery-details .nav a:hover:after, .single-gallery-details .nav a:hover:after  { opacity:1; }

		.ajax_close { background:#303739 url(../../img/close.png) center center no-repeat; }
		.ajax_close:hover, .ajax_previous:hover, .ajax_next:hover { background-color:#839c18; }		
		.ajax_previous { background:#303739 url(../../img/ajax-prev.png) 12px center no-repeat; }
		.ajax_next { background:#303739 url(../../img/ajax-next.png) 16px center no-repeat; }

		.gallery-title h5 a { color:#4e4635; background:#ece8d5; }
		.inner-entry:hover .gallery-title h5 a { background:#819a16; color:#fffae4; }

		.image-overlay {  background:#303739; }
		.image-overlay-inside { background:url(../../img/image-overlay.png) center center no-repeat; }
		

		/*----*****---- << Menu Page >> ----*****----*/
		
		/*.menu-title { background:url(../../img/menu-title-line.png) left 16px repeat-x; }*/	
		.menu-title span { background:#fffae4; }	
		.menu-items-list h1 a { color:#322F20; }
		.menu-item-price { background:url(../../img/price-bg2.png) repeat-x; color:#ffffff; }	
		.menu-details span.sub-title { color:#617b00; }	
		
		.menu-sidebar ul li { border-bottom:1px solid #e9e0b8; }	
		.menu-sidebar ul li a { background:url(../../img/menu-arrow.png) 10px 15px no-repeat; color:#322f20; }
		
		.menu-sidebar ul li a.active, .menu-sidebar ul li a:hover { background:#1b1807 url(../../img/menu-arrow-hover.png) 10px 15px no-repeat; color:#f1e8c1; }
		
		.border { border:8px solid #ebaa98; }
		.border:hover { border:8px solid #a06c5d; }

		

	/*----*****---- << Shortcodes >> ----*****----*/

		/* Tabs */
		.tabs ul li a { color:#fffae4; text-shadow:-1px -1px 0px #596a13; background:url(../../img/tab-bg.jpg) repeat; }
		.tabs .tabnav li a:hover, .tabs .tabnav li a:focus, .tabs .tabnav li a.current { background:url(../../img/btn-bg-hover.jpg) repeat; }	
		.tabs .tab-container { background:#e5deb0; border-bottom:2px solid #c4bc89; }

		/* Accordion */
		.accordion li a { color:#fffae4; text-shadow:-1px -1px 0px #596a13; background:url(../../img/tab-bg.jpg) repeat; }
		.accordion li a span { background:url(../../img/accordion-hide.png) no-repeat; }
		.accordion li a.active span { background:url(../../img/accordion-active.png) no-repeat; }
		.accordion li div.holder a { color:#687719; }

	/*----*****---- << Newsletter >> ----*****----*/

	#newsletter { background:url(../../img/newsletter-bg.png) no-repeat; }
	#newsletter input[type="text"] { border:1px solid #bfb092; background:#fffae4; }

	/*----*****---- << Footer >> ----*****----*/

	#footer { background:url(../../img/footer-bg.jpg) repeat; border-top:5px solid #100b09; color:#afa38a; }

	#footer h2 { background:url(../../img/footer-title-border.png) bottom repeat-x; color:#221d1b; }
	#footer h2 span { background:url(../../img/footer-title.jpg) repeat-x; }
	#footer h2 a { color:#221d1b; }
	#footer h2 a:hover { color:#687719; }

	/*#footer a { color:#afa38a; }*/
	#footer a:hover { color:#ebe6d2; }

	#footer .widget ul li { background:url(../../img/bullet-sandal.png) left top no-repeat; }

	.testimonial-skin-carousel .jcarousel-item-placeholder { background: #fff; }
	.testimonial-skin-carousel .jcarousel-prev-horizontal { background:url(../../img/testimonial-nav.png) left top no-repeat; }
	.testimonial-skin-carousel .jcarousel-next-horizontal { background:url(../../img/testimonial-nav.png) -22px top no-repeat; }
	
	.testimonial-skin-carousel .jcarousel-next-disabled:hover { background:url(../../img/testimonial-nav.png) -22px top no-repeat; }
	.testimonial-skin-carousel .jcarousel-prev-disabled:hover { background:url(../../img/testimonial-nav.png) left top no-repeat; }

	#footer blockquote { color:#afa38a; }
	#footer blockquote cite { color:#afa38a; }

	#footer .widget.social-widget h2 { color:#afa38a; }

	.footer-bottom { background:url(../../img/footer-bottom-bg.jpg) repeat; }
	.footer-bottom p { color:#514b37; }

	#footer .widget.widget_calendar a { color:#7d8d29; }
	#footer .widget.widget_calendar a:hover { color:#221d1b; }
	
	#footer .widget_search #searchform fieldset { background:#7e735c; }
	
	#footer .widget_rss li a { color:#ebe6d2; }
	#footer .widget_rss li a:hover { color:#cec28d; }

	#footer .widget.widget_nav_menu ul.menu li a { color:#AFA38A; }
	#footer .widget.widget_nav_menu ul.menu li a:hover { color:#ebe6d2; }

	#footer .widget.tweetbox ul li a { color:#ebe6d2; }

	#bmi-form input{
		padding:5px;
		margin:5px;
		width:100px !important;
		height:15px !important;
	}	
	#bmi-form select{
		padding:5px;
		margin:5px;
		width:100px !important;
		height:28px !important;
	}	
	#bmi-form label{
		margin-top:5px;
		margin:5px;
	}
	#bmi-form .rowElement{
		/*width:90%;*/
		padding:3px;
		margin:3px;
		/*border:solid 1px #aaa;*/
	}
		
	/**
	
		<style type="text/css">
			#footer h2 { font-family: 'Norican', Arial, sans-serif !important;  }
			ul.menu li a { font-family: 'Oswald', Arial, sans-serif }														
			.breadcrumb { font-family: 'Oswald', Arial, sans-serif }
			.sidebar h2 { font-family: 'Oswald', Arial, sans-serif }
			ul.cat-menu li a { font-family: 'Oswald', Arial, sans-serif }
			.categories-list ul li a { font-family: 'Oswald', Arial, sans-serif }
			.post-title h2 { font-family: 'Oswald', Arial, sans-serif }
			.post-details { font-family: 'Oswald', Arial, sans-serif } 
			.pagination { font-family: 'Oswald', Arial, sans-serif }
			.page-link a, .page-link span { font-family: 'Oswald', Arial, sans-serif }
			#sorting-container a { font-family: 'Oswald', Arial, sans-serif }
			.gallery-title h5 a { font-family: 'Oswald', Arial, sans-serif }
			.tabs ul li a { font-family: 'Oswald', Arial, sans-serif }
			.accordion li a { font-family: 'Oswald', Arial, sans-serif }
			a.tooltip  { font-family: 'Oswald', Arial, sans-serif }
			h1,h2,h3,h4,th,.button,input[type=submit] { font-family: 'Oswald', Arial, sans-serif }
			.widget.widget_calendar caption { font-family: 'Oswald', Arial, sans-serif }
			.sticky .post-title .featured  { font-family: 'Oswald', Arial, sans-serif }		
			.big-ico-button { font-family: 'Niconne', Arial, sans-serif }
			span.arctext { font-family: 'Niconne', Arial, sans-serif } 
			.notice  { font-family: 'Niconne', Arial, sans-serif }
			.back-btn { font-family: 'Niconne', Arial, sans-serif }
			table.price-table td.even { font-family: 'Niconne', Arial, sans-serif }
			#newsletter h2 { font-family: 'Niconne', Arial, sans-serif }
			.theme-default .nivo-caption h2 { font-family: 'Niconne', Arial, sans-serif }
			.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
														
		</style>
	
	*/
