body {
	background-color: #ffffff;
}

body {
	font-family: Roboto;
	line-height: 28px;
	font-weight: 400;
	font-style: normal;
	color: #434343;
	font-size: 14px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading body {
	opacity: 0;
}

.ie.wf-loading body {
	visibility: hidden;
}

h1 {
	font-family: Poppins;
	line-height: 48px;
	letter-spacing: -1px;
	font-weight: 700;
	font-style: normal;
	color: #2d2d2d;
	font-size: 40px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading h1 {
	opacity: 0;
}

.ie.wf-loading h1 {
	visibility: hidden;
}

h2 {
	font-family: Poppins;
	line-height: 30px;
	letter-spacing: -1px;
	font-weight: 700;
	font-style: normal;
	color: #2d2d2d;
	font-size: 30px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading h2 {
	opacity: 0;
}

.ie.wf-loading h2 {
	visibility: hidden;
}

h3 {
	font-family: Poppins;
	line-height: 48px;
	letter-spacing: 0px;
	font-weight: 800;
	font-style: normal;
	color: #2d2d2d;
	font-size: 40px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading h3 {
	opacity: 0;
}

.ie.wf-loading h3 {
	visibility: hidden;
}

h4 {
	font-family: Poppins;
	line-height: 30px;
	font-weight: 700;
	font-style: normal;
	color: #313131;
	font-size: 20px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading h4 {
	opacity: 0;
}

.ie.wf-loading h4 {
	visibility: hidden;
}

h5 {
	font-family: Poppins;
	line-height: 26px;
	font-weight: 500;
	font-style: normal;
	color: #2d2d2d;
	font-size: 18px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading h5 {
	opacity: 0;
}

.ie.wf-loading h5 {
	visibility: hidden;
}

h6 {
	font-family: Poppins;
	line-height: 23px;
	font-weight: 600;
	font-style: normal;
	color: #2d2d2d;
	font-size: 15px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading h6 {
	opacity: 0;
}

.ie.wf-loading h6 {
	visibility: hidden;
}

.wraper_header.style-default .wraper_header_top {
	background-color: #ffffff;
}

.wraper_header.style-one .wraper_header_main {
	background-color: rgba(0, 0, 0, 0.01);
}

.wraper_header.style-one .wraper_header_main {
	border-bottom-color: rgba(255, 255, 255, 0.2);
}

.wraper_header.style-one .nav > [class*="menu-"] > ul.menu > li > a {
	font-family: Rubik;
	text-transform: uppercase;
	line-height: 27px;
	font-weight: 500;
	font-style: normal;
	color: #ffffff;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-one .nav > [class*="menu-"] > ul.menu > li > a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-one .nav > [class*="menu-"] > ul.menu > li > a {
	visibility: hidden;
}

.wraper_header.style-one .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wraper_header.style-one .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wraper_header.style-one .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wraper_header.style-one .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	font-family: Rubik;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	font-weight: 400;
	font-style: normal;
	color: #0c121f;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-one .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wf-loading .wraper_header.style-one .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-one .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-one .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-one .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.ie.wf-loading .wraper_header.style-one .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-one .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-one .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	visibility: hidden;
}

.wraper_header.style-one .header_main_action ul > li.header-cart-bar i {
	color: #ffffff;
}

.wraper_header.style-one .header_main_action ul > li.floating-searchbar i {
	color: #ffffff;
}

.wraper_header.style-one .header_main_action ul > li.header-hamburger i {
	color: #ffffff;
}

body[data-header-style="header-style-one"] #hamburger-menu {
	background-color: #ffffff;
}

.wraper_header.style-one .header_main .responsive-nav i {
	color: #838383;
}

body[data-header-style="header-style-one"] #mobile-menu {
	background-color: #ffffff;
}

body[data-header-style="header-style-one"] .mobile-menu-nav {
	font-family: Poppins;
	text-transform: uppercase;
	line-height: 27px;
	letter-spacing: 0.5px;
	font-weight: 400;
	font-style: normal;
	color: #838383;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading body[data-header-style="header-style-one"] .mobile-menu-nav {
	opacity: 0;
}

.ie.wf-loading body[data-header-style="header-style-one"] .mobile-menu-nav {
	visibility: hidden;
}

body[data-header-style="header-style-one"] .mobile-menu-close i {
	color: #838383;
}

.wraper_header.style-two .wraper_header_main {
	background-color: rgba(255, 255, 255, 0.01);
}

.wraper_header.style-two .nav > [class*="menu-"] > ul.menu > li > a {
	font-family: Poppins;
	line-height: 26px;
	font-weight: 500;
	font-style: normal;
	color: #ffffff;
	font-size: 15px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-two .nav > [class*="menu-"] > ul.menu > li > a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-two .nav > [class*="menu-"] > ul.menu > li > a {
	visibility: hidden;
}

.wraper_header.style-two .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wraper_header.style-two .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wraper_header.style-two .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wraper_header.style-two .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	font-family: Poppins;
	text-align: left;
	line-height: 25px;
	font-weight: 500;
	font-style: normal;
	color: #454545;
	font-size: 15px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-two .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wf-loading .wraper_header.style-two .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-two .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-two .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-two .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.ie.wf-loading .wraper_header.style-two .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-two .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-two .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	visibility: hidden;
}

.wraper_header.style-two .header_main_action ul > li.header-cart-bar i {
	color: #ffffff;
}

.wraper_header.style-two .header_main_action ul > li.floating-searchbar i {
	color: #ffffff;
}

.wraper_header.style-two .header_main_action ul > li.header-hamburger i {
	color: #ffffff;
}

body[data-header-style="header-style-two"] #hamburger-menu {
	background-color: #ffffff;
}

.wraper_header.style-two .header_main .responsive-nav i {
	color: #ffffff;
}

body[data-header-style="header-style-two"] #mobile-menu {
	background-color: #ffffff;
}

body[data-header-style="header-style-two"] .mobile-menu-nav {
	font-family: Poppins;
	text-transform: uppercase;
	line-height: 27px;
	letter-spacing: 0.5px;
	font-weight: 400;
	font-style: normal;
	color: #838383;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading body[data-header-style="header-style-two"] .mobile-menu-nav {
	opacity: 0;
}

.ie.wf-loading body[data-header-style="header-style-two"] .mobile-menu-nav {
	visibility: hidden;
}

body[data-header-style="header-style-two"] .mobile-menu-close i {
	color: #838383;
}

.wraper_header.style-three .wraper_header_top {
	background-color: #244e7d;
}

.wraper_header.style-three .wraper_header_main {
	background-color: #ffffff;
}

.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > a {
	font-family: Rubik;
	text-transform: uppercase;
	line-height: 26px;
	font-weight: 500;
	font-style: normal;
	color: #474747;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > a {
	visibility: hidden;
}

.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	font-family: Rubik;
	text-align: left;
	text-transform: uppercase;
	line-height: 26px;
	font-weight: 400;
	font-style: normal;
	color: #474747;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wf-loading .wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.ie.wf-loading .wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	visibility: hidden;
}

.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li:hover > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li.current-menu-item > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li.current-menu-parent > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li.current-menu-ancestor > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li:hover > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li.current-menu-item > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li.current-menu-parent > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li:hover > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li.current-menu-item > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li.current-menu-parent > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li:hover > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li.current-menu-item > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li.current-menu-parent > a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li:hover a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li.current-menu-item a,
.wraper_header.style-three .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li.current-menu-parent a {
	color: #f06082;
}

.wraper_header.style-three .header_main_action ul > li.header-cart-bar i {
	color: #1e1e1e;
}

.wraper_header.style-three .header_main_action ul > li.floating-searchbar i {
	color: #1e1e1e;
}

.wraper_header.style-three .header_main_action ul > li.header-hamburger i {
	color: #1e1e1e;
}

body[data-header-style="header-style-three"] #hamburger-menu {
	background-color: #ffffff;
}

.wraper_header.style-three .header_main .responsive-nav i {
	color: #838383;
}

body[data-header-style="header-style-three"] #mobile-menu {
	background-color: #ffffff;
}

body[data-header-style="header-style-three"] .mobile-menu-nav {
	font-family: Poppins;
	text-transform: uppercase;
	line-height: 27px;
	letter-spacing: 0.5px;
	font-weight: 400;
	font-style: normal;
	color: #838383;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading body[data-header-style="header-style-three"] .mobile-menu-nav {
	opacity: 0;
}

.ie.wf-loading body[data-header-style="header-style-three"] .mobile-menu-nav {
	visibility: hidden;
}

body[data-header-style="header-style-three"] .mobile-menu-close i {
	color: #838383;
}

.wraper_header.style-four .wraper_header_main {
	background-color: rgba(0, 0, 0, 0.01);
}

.wraper_header.style-four .nav > [class*="menu-"] > ul.menu > li > a {
	font-family: Rubik;
	line-height: 28px;
	font-weight: 500;
	font-style: normal;
	color: #ffffff;
	font-size: 17px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-four .nav > [class*="menu-"] > ul.menu > li > a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-four .nav > [class*="menu-"] > ul.menu > li > a {
	visibility: hidden;
}

.wraper_header.style-four .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wraper_header.style-four .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wraper_header.style-four .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wraper_header.style-four .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	font-family: Rubik;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	font-weight: 400;
	font-style: normal;
	color: #0c121f;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-four .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wf-loading .wraper_header.style-four .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-four .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-four .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-four .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.ie.wf-loading .wraper_header.style-four .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-four .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-four .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	visibility: hidden;
}

.wraper_header.style-four .header_main_action ul > li.header-cart-bar i {
	color: #ffffff;
}

.wraper_header.style-four .header_main_action ul > li.header-hamburger i {
	color: #ffffff;
}

body[data-header-style="header-style-four"] #hamburger-menu {
	background-color: #ffffff;
}

.wraper_header.style-four .header_main .responsive-nav i {
	color: #838383;
}

body[data-header-style="header-style-four"] #mobile-menu {
	background-color: #ffffff;
}

body[data-header-style="header-style-four"] .mobile-menu-nav {
	font-family: Poppins;
	text-transform: uppercase;
	line-height: 27px;
	letter-spacing: 0.5px;
	font-weight: 400;
	font-style: normal;
	color: #838383;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading body[data-header-style="header-style-four"] .mobile-menu-nav {
	opacity: 0;
}

.ie.wf-loading body[data-header-style="header-style-four"] .mobile-menu-nav {
	visibility: hidden;
}

body[data-header-style="header-style-four"] .mobile-menu-close i {
	color: #838383;
}

.wraper_header.style-five .wraper_header_main {
	background-color: rgba(255, 255, 255, 0.75);
}

.wraper_header.style-five .nav > [class*="menu-"] > ul.menu > li > a {
	font-family: Rubik;
	line-height: 28px;
	font-weight: 400;
	font-style: normal;
	color: #0c121f;
	font-size: 16px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-five .nav > [class*="menu-"] > ul.menu > li > a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-five .nav > [class*="menu-"] > ul.menu > li > a {
	visibility: hidden;
}

.wraper_header.style-five .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wraper_header.style-five .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wraper_header.style-five .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wraper_header.style-five .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	font-family: Rubik;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	font-weight: 400;
	font-style: normal;
	color: #0c121f;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-five .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wf-loading .wraper_header.style-five .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-five .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-five .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-five .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.ie.wf-loading .wraper_header.style-five .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-five .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-five .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	visibility: hidden;
}

.wraper_header.style-five .header_main_action ul > li.header-cart-bar i {
	color: #454545;
}

.wraper_header.style-five .header_main_action ul > li.floating-searchbar i {
	color: #454545;
}

.wraper_header.style-five .header_main_action ul > li.header-hamburger i {
	color: #454545;
}

body[data-header-style="header-style-five"] #hamburger-menu {
	background-color: #ffffff;
}

.wraper_header.style-five .header_main .responsive-nav i {
	color: #838383;
}

body[data-header-style="header-style-five"] #mobile-menu {
	background-color: #ffffff;
}

body[data-header-style="header-style-five"] .mobile-menu-nav {
	font-family: Poppins;
	text-transform: uppercase;
	line-height: 27px;
	letter-spacing: 0.5px;
	font-weight: 400;
	font-style: normal;
	color: #838383;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading body[data-header-style="header-style-five"] .mobile-menu-nav {
	opacity: 0;
}

.ie.wf-loading body[data-header-style="header-style-five"] .mobile-menu-nav {
	visibility: hidden;
}

body[data-header-style="header-style-five"] .mobile-menu-close i {
	color: #838383;
}

.wraper_header.style-six .wraper_header_main {
	background-color: rgba(0, 0, 0, 0.01);
}

.wraper_header.style-six .header_main_action ul > li.header-cart-bar i {
	color: #ffffff;
}

.wraper_header.style-six .header_main_action ul > li.floating-searchbar i {
	color: #ffffff;
}

.wraper_header.style-six .header_main_action ul > li.header-full-width-menu i {
	color: #ffffff;
}

.wraper_header.style-six .top-bar-menu .menu-minimal-header-menu-container {
	font-family: Cinzel;
	line-height: 30px;
	font-weight: 400;
	font-style: normal;
	color: #ffffff;
	font-size: 28px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-six .top-bar-menu .menu-minimal-header-menu-container {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-six .top-bar-menu .menu-minimal-header-menu-container {
	visibility: hidden;
}

.wraper_header.style-seven .wraper_header_main {
	background-color: rgba(0, 0, 0, 0.01);
}

.wraper_header.style-seven .header_main_action ul > li.header-cart-bar i {
	color: #0c121f;
}

.wraper_header.style-seven .header_main_action ul > li.floating-searchbar i {
	color: #0c121f;
}

.wraper_header.style-seven .header_main_action ul > li.header-hamburger i {
	color: #0c121f;
}

body[data-header-style="header-style-seven"] #hamburger-menu {
	background-color: #ffffff;
}

.wraper_header.style-eight .wraper_header_main {
	background-color: #ffffff;
}

.wraper_header.style-eight .wraper_header_main {
	border-bottom-color: rgba(0, 0, 0, 0.07);
}

.wraper_header.style-eight .header_main_action ul > li.header-cart-bar i {
	color: #030712;
}

.wraper_header.style-eight .header_main_action ul > li.floating-searchbar i {
	color: #030712;
}

.wraper_header.style-eight .header_main_action ul > li.header-hamburger i {
	color: #030712;
}

body[data-header-style="header-style-eight"] #hamburger-menu {
	background-color: #ffffff;
}

.wraper_header.style-nine .wraper_fullwidth_menu {
	background-color: #ffffff;
}

.wraper_header.style-nine .wraper_fullwidth_menu .full-inner nav {
	font-family: Poppins;
	line-height: 47px;
	letter-spacing: -1px;
	font-weight: 700;
	font-style: normal;
	color: #252525;
	font-size: 40px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-nine .wraper_fullwidth_menu .full-inner nav {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-nine .wraper_fullwidth_menu .full-inner nav {
	visibility: hidden;
}

.wraper_header.style-nine .wraper_fullwidth_menu .full-inner nav ul li ul {
	font-family: Poppins;
	line-height: 23px;
	font-weight: 500;
	font-style: normal;
	color: #252525;
	font-size: 15px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-nine .wraper_fullwidth_menu .full-inner nav ul li ul {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-nine .wraper_fullwidth_menu .full-inner nav ul li ul {
	visibility: hidden;
}

.wraper_header.style-nine .header_main_action ul > li.header-cart-bar i {
	color: #030712;
}

.wraper_header.style-nine .header_main_action ul > li.floating-searchbar i {
	color: #030712;
}

.wraper_header.style-ten .wraper_header_top {
	background-color: rgba(255, 255, 255, 0.6);
}

.wraper_header.style-ten .wraper_header_main {
	background-color: rgba(255, 255, 255, 0.01);
}

.wraper_header.style-ten .is-sticky .wraper_header_main {
	background-color: rgba(32, 44, 69, 0.85);
}

.wraper_header.style-ten .nav > [class*="menu-"] > ul.menu > li > a {
	font-family: Rubik;
	text-transform: uppercase;
	line-height: 26px;
	font-weight: 500;
	font-style: normal;
	color: #ffffff;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-ten .nav > [class*="menu-"] > ul.menu > li > a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-ten .nav > [class*="menu-"] > ul.menu > li > a {
	visibility: hidden;
}

.wraper_header.style-ten .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wraper_header.style-ten .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wraper_header.style-ten .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wraper_header.style-ten .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	font-family: Rubik;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	font-weight: 400;
	font-style: normal;
	color: #454545;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-ten .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wf-loading .wraper_header.style-ten .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-ten .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-ten .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-ten .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.ie.wf-loading .wraper_header.style-ten .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-ten .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-ten .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	visibility: hidden;
}

.wraper_header.style-ten .header_main_action ul > li.header-cart-bar i {
	color: #ffffff;
}

.wraper_header.style-ten .header_main_action ul > li.floating-searchbar i {
	color: #ffffff;
}

.wraper_header.style-ten .header_main_action ul > li.header-hamburger i {
	color: #ffffff;
}

body[data-header-style="header-style-ten"] #hamburger-menu {
	background-color: #ffffff;
}

.wraper_header.style-ten .header_main .responsive-nav i {
	color: #ffffff;
}

body[data-header-style="header-style-ten"] #mobile-menu {
	background-color: #ffffff;
}

body[data-header-style="header-style-ten"] .mobile-menu-nav {
	font-family: Poppins;
	text-transform: uppercase;
	line-height: 27px;
	letter-spacing: 0.5px;
	font-weight: 400;
	font-style: normal;
	color: #838383;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading body[data-header-style="header-style-ten"] .mobile-menu-nav {
	opacity: 0;
}

.ie.wf-loading body[data-header-style="header-style-ten"] .mobile-menu-nav {
	visibility: hidden;
}

body[data-header-style="header-style-ten"] .mobile-menu-close i {
	color: #838383;
}

.wraper_header.style-eleven .wraper_header_main {
	background-color: rgba(255, 255, 255, 0.01);
}

.wraper_header.style-eleven .nav > [class*="menu-"] > ul.menu > li > a {
	font-family: Poppins;
	line-height: 27px;
	font-weight: 500;
	font-style: normal;
	color: #0c121f;
	font-size: 15px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-eleven .nav > [class*="menu-"] > ul.menu > li > a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-eleven .nav > [class*="menu-"] > ul.menu > li > a {
	visibility: hidden;
}

.wraper_header.style-eleven .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wraper_header.style-eleven .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wraper_header.style-eleven .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wraper_header.style-eleven .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	font-family: Poppins;
	text-align: left;
	line-height: 25px;
	font-weight: 400;
	font-style: normal;
	color: #454545;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-eleven .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wf-loading .wraper_header.style-eleven .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-eleven .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-eleven .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-eleven .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.ie.wf-loading .wraper_header.style-eleven .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-eleven .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-eleven .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	visibility: hidden;
}

.wraper_header.style-eleven .header_main_action_buttons .btn.btn-one {
	background-color: #4eafcb;
}

.wraper_header.style-eleven .header_main_action_buttons .btn.btn-two {
	background-color: #25c16f;
}

.wraper_header.style-eleven .header_main .responsive-nav i {
	color: #838383;
}

body[data-header-style="header-style-eleven"] #mobile-menu {
	background-color: #ffffff;
}

body[data-header-style="header-style-eleven"] .mobile-menu-nav {
	font-family: Poppins;
	text-transform: uppercase;
	line-height: 27px;
	letter-spacing: 0.5px;
	font-weight: 400;
	font-style: normal;
	color: #838383;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading body[data-header-style="header-style-eleven"] .mobile-menu-nav {
	opacity: 0;
}

.ie.wf-loading body[data-header-style="header-style-eleven"] .mobile-menu-nav {
	visibility: hidden;
}

body[data-header-style="header-style-eleven"] .mobile-menu-close i {
	color: #838383;
}

.wraper_header.style-twelve .wraper_header_top {
	background-color: #ffffff;
}

.wraper_header.style-twelve .wraper_header_main {
	background-color: #2a32c5;
}

.wraper_header.style-twelve .is-sticky .wraper_header_main {
	background-color: #2a32c5;
}

.wraper_header.style-twelve .nav > [class*="menu-"] > ul.menu > li > a {
	font-family: Poppins;
	text-transform: uppercase;
	line-height: 26px;
	font-weight: 500;
	font-style: normal;
	color: #ffffff;
	font-size: 15px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-twelve .nav > [class*="menu-"] > ul.menu > li > a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-twelve .nav > [class*="menu-"] > ul.menu > li > a {
	visibility: hidden;
}

.wraper_header.style-twelve .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wraper_header.style-twelve .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wraper_header.style-twelve .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wraper_header.style-twelve .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	font-family: Poppins;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	font-weight: 500;
	font-style: normal;
	color: #454545;
	font-size: 13px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .wraper_header.style-twelve .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.wf-loading .wraper_header.style-twelve .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-twelve .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.wf-loading .wraper_header.style-twelve .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	opacity: 0;
}

.ie.wf-loading .wraper_header.style-twelve .nav > [class*="menu-"] > ul.menu > li > ul > li > a,
.ie.wf-loading .wraper_header.style-twelve .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-twelve .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li > a,
.ie.wf-loading .wraper_header.style-twelve .nav > [class*="menu-"] > ul.menu > li > ul > li > ul > li > ul > li ul li a {
	visibility: hidden;
}

.wraper_header.style-twelve .header_main_action ul > li.header-cart-bar i {
	color: #ffffff;
}

.wraper_header.style-twelve .header_main_action ul > li.floating-searchbar i {
	color: #ffffff;
}

.wraper_header.style-twelve .header_main .responsive-nav i {
	color: #ffffff;
}

body[data-header-style="header-style-twelve"] #mobile-menu {
	background-color: #ffffff;
}

body[data-header-style="header-style-twelve"] .mobile-menu-nav {
	font-family: Poppins;
	text-transform: uppercase;
	line-height: 27px;
	letter-spacing: 0.5px;
	font-weight: 400;
	font-style: normal;
	color: #838383;
	font-size: 12px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading body[data-header-style="header-style-twelve"] .mobile-menu-nav {
	opacity: 0;
}

.ie.wf-loading body[data-header-style="header-style-twelve"] .mobile-menu-nav {
	visibility: hidden;
}

body[data-header-style="header-style-twelve"] .mobile-menu-close i {
	color: #838383;
}

.wraper_inner_banner {
	background-color: #f5f5f5;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	background-image: url('https://capitolmedical.helpdeskprojects.com/storage/2019/01/top-header-banner-1466x208.jpg');
}

.wraper_inner_banner_main {
	border-bottom-color: rgba(255, 255, 255, 0.01);
}

.wraper_inner_banner_main > .container {
	padding-top: 63px;
	padding-bottom: 0;
}

.inner_banner_main .title {
	font-family: Poppins;
	line-height: 38px;
	letter-spacing: -1px;
	font-weight: 700;
	font-style: normal;
	color: #2832c5;
	font-size: 34px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .inner_banner_main .title {
	opacity: 0;
}

.ie.wf-loading .inner_banner_main .title {
	visibility: hidden;
}

.inner_banner_main .subtitle {
	font-family: Roboto;
	line-height: 28px;
	font-weight: 400;
	font-style: normal;
	color: #313131;
	font-size: 18px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .inner_banner_main .subtitle {
	opacity: 0;
}

.ie.wf-loading .inner_banner_main .subtitle {
	visibility: hidden;
}

.inner_banner_breadcrumb #crumbs {
	font-family: Roboto;
	line-height: 26px;
	font-weight: 400;
	font-style: normal;
	color: #2832c5;
	font-size: 12px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .inner_banner_breadcrumb #crumbs {
	opacity: 0;
}

.ie.wf-loading .inner_banner_breadcrumb #crumbs {
	visibility: hidden;
}

.wraper_inner_banner_breadcrumb > .container {
	padding-top: 10px;
	padding-bottom: 68px;
}

.wraper_footer.style-one {
	background-color: #161616;
}

.wraper_footer.style-one .wraper_footer_main {
	border-bottom-color: rgba(255, 255, 255, 0.01);
}

.wraper_footer.style-two {
	background-color: #161616;
}

.wraper_footer.style-two .wraper_footer_main {
	border-bottom-color: rgba(255, 255, 255, 0.01);
}

.wraper_footer.style-three {
	background-color: #161616;
}

.wraper_footer.style-three .wraper_footer_main {
	border-bottom-color: rgba(255, 255, 255, 0.01);
}

.wraper_footer.style-four {
	background-color: #161616;
}

.wraper_footer.style-four .wraper_footer_navigation {
	background-color: rgba(0, 23, 77, 0.01);
}

.wraper_footer.style-four .wraper_footer_main {
	border-bottom-color: rgba(255, 255, 255, 0.01);
}

.wraper_footer.style-five {
	background-color: #161616;
}

.wraper_footer.style-five .wraper_footer_navigation {
	background-color: rgba(0, 23, 77, 0.01);
}

.wraper_footer.style-five .wraper_footer_main {
	border-bottom-color: rgba(255, 255, 255, 0.01);
}

.wraper_footer.style-six {
	background-color: #1a2024;
}

.wraper_footer.style-six .wraper_footer_main {
	border-bottom-color: #575656;
}

.wraper_footer.style-seven {
	background-color: #f0eddc;
}

.wraper_footer.style-eight {
	background-color: #161616;
}

.wraper_footer.style-eight .wraper_footer_main {
	border-bottom-color: rgba(255, 255, 255, 0.01);
}

.wraper_footer.style-nine {
	background-color: #161616;
}

.wraper_footer.style-nine .wraper_footer_navigation {
	background-color: rgba(0, 23, 77, 0.01);
}

.wraper_footer.style-nine .wraper_footer_main {
	border-bottom-color: rgba(255, 255, 255, 0.01);
}

.wraper_footer.style-ten {
	background-color: #161616;
}

.wraper_footer.style-ten .wraper_footer_main {
	border-bottom-color: rgba(255, 255, 255, 0.01);
}

.wraper_footer.style-eleven {
	background-size: cover;
	background-position: right bottom;
}

.wraper_footer.style-eleven .wraper_footer_main {
	background-color: #f9f9f9;
}

.wraper_footer.style-eleven .wraper_footer_main {
	border-bottom-color: #f7f500;
}

.wraper_footer.style-eleven .wraper_footer_copyright {
	background-color: #2a32c5;
}

.radiantthemes-button > .radiantthemes-button-main,
.gdpr-notice .btn,
.radiant-contact-form .form-row input[type=submit],
.radiant-contact-form .form-row input[type=button],
.radiant-contact-form .form-row button[type=submit],
.post.style-two .post-read-more .btn,
.post.style-three .entry-main .post-read-more .btn,
.woocommerce #respond input#submit,
.woocommerce .return-to-shop .button,
.woocommerce form .form-row input.button,
.widget-area > .widget.widget_price_filter .button,
.wraper_error_main.style-one .error_main .btn,
.wraper_error_main.style-two .error_main .btn,
.wraper_error_main.style-three .error_main_item .btn,
.wraper_error_main.style-four .error_main .btn {
	padding-top: 8px;
	padding-right: 35px;
	padding-bottom: 8px;
	padding-left: 35px;
}

.radiantthemes-button.hover-style-one .radiantthemes-button-main:hover,
.radiantthemes-button.hover-style-two .radiantthemes-button-main > .overlay,
.radiantthemes-button.hover-style-three .radiantthemes-button-main > .overlay,
.radiantthemes-button.hover-style-four .radiantthemes-button-main:hover,
.gdpr-notice .btn,
.radiant-contact-form .form-row input[type=submit]:hover,
.radiant-contact-form .form-row input[type=button]:hover,
.radiant-contact-form .form-row button[type=submit]:hover,
.post.style-two .post-read-more .btn:hover,
.post.style-three .entry-main .post-read-more .btn:hover,
.woocommerce #respond input#submit,
.woocommerce .return-to-shop .button:hover,
.woocommerce form .form-row input.button:hover,
.widget-area > .widget.widget_price_filter .button:hover,
.wraper_error_main.style-one .error_main .btn:hover,
.wraper_error_main.style-two .error_main .btn:hover,
.wraper_error_main.style-three .error_main_item .btn:hover,
.wraper_error_main.style-four .error_main .btn:hover {
	background-color: #2986e2;
}

.radiantthemes-button > .radiantthemes-button-main,
.gdpr-notice .btn,
.radiant-contact-form .form-row input[type=submit],
.radiant-contact-form .form-row input[type=button],
.radiant-contact-form .form-row button[type=submit],
.post.style-two .post-read-more .btn,
.post.style-three .entry-main .post-read-more .btn,
.woocommerce #respond input#submit,
.woocommerce .return-to-shop .button,
.woocommerce form .form-row input.button,
.widget-area > .widget.widget_price_filter .button,
.wraper_error_main.style-one .error_main .btn,
.wraper_error_main.style-two .error_main .btn,
.wraper_error_main.style-three .error_main_item .btn,
.wraper_error_main.style-four .error_main .btn {
	border-top: 0px solid;
	border-bottom: 0px solid;
	border-left: 0px solid;
	border-right: 0px solid;
}

.radiantthemes-button > .radiantthemes-button-main:hover,
.gdpr-notice .btn:hover,
.radiant-contact-form .form-row input[type=submit]:hover,
.radiant-contact-form .form-row input[type=button]:hover,
.radiant-contact-form .form-row button[type=submit]:hover,
.post.style-two .post-read-more .btn:hover,
.post.style-three .entry-main .post-read-more .btn:hover,
.woocommerce #respond input#submit,
.woocommerce .return-to-shop .button:hover,
.woocommerce form .form-row input.button:hover,
.widget-area > .widget.widget_price_filter .button:hover,
.wraper_error_main.style-one .error_main .btn:hover,
.wraper_error_main.style-two .error_main .btn:hover,
.wraper_error_main.style-three .error_main_item .btn:hover,
.wraper_error_main.style-four .error_main .btn:hover {
	border-top: 0px solid;
	border-bottom: 0px solid;
	border-left: 0px solid;
	border-right: 0px solid;
}

.radiantthemes-button > .radiantthemes-button-main,
.gdpr-notice .btn,
.radiant-contact-form .form-row input[type=submit],
.radiant-contact-form .form-row input[type=button],
.radiant-contact-form .form-row button[type=submit],
.post.style-two .post-read-more .btn,
.post.style-three .entry-main .post-read-more .btn,
.woocommerce #respond input#submit,
.woocommerce .return-to-shop .button,
.woocommerce form .form-row input.button,
.widget-area > .widget.widget_price_filter .button,
.wraper_error_main.style-one .error_main .btn,
.wraper_error_main.style-two .error_main .btn,
.wraper_error_main.style-three .error_main_item .btn,
.wraper_error_main.style-four .error_main .btn {
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.01);
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.01);
	-ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.01);
	-o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.01);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.01);
}

.radiantthemes-button > .radiantthemes-button-main,
.gdpr-notice .btn,
.radiant-contact-form .form-row input[type=submit],
.radiant-contact-form .form-row input[type=button],
.radiant-contact-form .form-row button[type=submit],
.post.style-two .post-read-more .btn,
.post.style-three .entry-main .post-read-more .btn,
.woocommerce #respond input#submit,
.woocommerce .return-to-shop .button,
.woocommerce form .form-row input.button,
.widget-area > .widget.widget_price_filter .button,
.wraper_error_main.style-one .error_main .btn,
.wraper_error_main.style-two .error_main .btn,
.wraper_error_main.style-three .error_main_item .btn,
.wraper_error_main.style-four .error_main .btn {
	font-family: Poppins;
	text-transform: capitalize;
	line-height: 23px;
	font-weight: 500;
	font-style: normal;
	color: #fff;
	font-size: 14px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading .radiantthemes-button > .radiantthemes-button-main,
.wf-loading .gdpr-notice .btn,
.wf-loading .radiant-contact-form .form-row input[type=submit],
.wf-loading .radiant-contact-form .form-row input[type=button],
.wf-loading .radiant-contact-form .form-row button[type=submit],
.wf-loading .post.style-two .post-read-more .btn,
.wf-loading .post.style-three .entry-main .post-read-more .btn,
.wf-loading .woocommerce #respond input#submit,
.wf-loading .woocommerce .return-to-shop .button,
.wf-loading .woocommerce form .form-row input.button,
.wf-loading .widget-area > .widget.widget_price_filter .button,
.wf-loading .wraper_error_main.style-one .error_main .btn,
.wf-loading .wraper_error_main.style-two .error_main .btn,
.wf-loading .wraper_error_main.style-three .error_main_item .btn,
.wf-loading .wraper_error_main.style-four .error_main .btn {
	opacity: 0;
}

.ie.wf-loading .radiantthemes-button > .radiantthemes-button-main,
.ie.wf-loading .gdpr-notice .btn,
.ie.wf-loading .radiant-contact-form .form-row input[type=submit],
.ie.wf-loading .radiant-contact-form .form-row input[type=button],
.ie.wf-loading .radiant-contact-form .form-row button[type=submit],
.ie.wf-loading .post.style-two .post-read-more .btn,
.ie.wf-loading .post.style-three .entry-main .post-read-more .btn,
.ie.wf-loading .woocommerce #respond input#submit,
.ie.wf-loading .woocommerce .return-to-shop .button,
.ie.wf-loading .woocommerce form .form-row input.button,
.ie.wf-loading .widget-area > .widget.widget_price_filter .button,
.ie.wf-loading .wraper_error_main.style-one .error_main .btn,
.ie.wf-loading .wraper_error_main.style-two .error_main .btn,
.ie.wf-loading .wraper_error_main.style-three .error_main_item .btn,
.ie.wf-loading .wraper_error_main.style-four .error_main .btn {
	visibility: hidden;
}

.radiantthemes-button > .radiantthemes-button-main:hover,
.gdpr-notice .btn:hover,
.radiant-contact-form .form-row input[type=submit]:hover,
.radiant-contact-form .form-row input[type=button]:hover,
.radiant-contact-form .form-row button[type=submit]:hover,
.post.style-two .post-read-more .btn:hover,
.post.style-three .entry-main .post-read-more .btn:hover,
.woocommerce #respond input#submit,
.woocommerce .return-to-shop .button:hover,
.woocommerce form .form-row input.button:hover,
.widget-area > .widget.widget_price_filter .button:hover,
.wraper_error_main.style-one .error_main .btn:hover,
.wraper_error_main.style-two .error_main .btn:hover,
.wraper_error_main.style-three .error_main_item .btn:hover,
.wraper_error_main.style-four .error_main .btn:hover {
	color: #ffffff;
}

.radiantthemes-button > .radiantthemes-button-main i {
	color: #ffffff;
}

.radiantthemes-button > .radiantthemes-button-main:hover i {
	color: #ffffff;
}

.radiant-contact-form .form-row,
div.wpcf7-response-output {
	margin-right: 5px;
	margin-bottom: 24px;
	margin-left: 5px;
}

.radiant-contact-form .form-row input[type=text],
.radiant-contact-form .form-row input[type=email],
.radiant-contact-form .form-row input[type=url],
.radiant-contact-form .form-row input[type=tel],
.radiant-contact-form .form-row input[type=number],
.radiant-contact-form .form-row input[type=password],
.radiant-contact-form .form-row input[type=date],
.radiant-contact-form .form-row input[type=time],
.radiant-contact-form .form-row select {
	height: 45px;
}

.radiant-contact-form .form-row textarea {
	height: 125px;
}

.radiant-contact-form .form-row input[type=text]:focus,
.radiant-contact-form .form-row input[type=email]:focus,
.radiant-contact-form .form-row input[type=url]:focus,
.radiant-contact-form .form-row input[type=tel]:focus,
.radiant-contact-form .form-row input[type=number]:focus,
.radiant-contact-form .form-row input[type=password]:focus,
.radiant-contact-form .form-row input[type=date]:focus,
.radiant-contact-form .form-row input[type=time]:focus,
.radiant-contact-form .form-row select:focus,
.radiant-contact-form .form-row textarea:focus {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

.radiant-contact-form .form-row input[type=text],
.radiant-contact-form .form-row input[type=email],
.radiant-contact-form .form-row input[type=url],
.radiant-contact-form .form-row input[type=tel],
.radiant-contact-form .form-row input[type=number],
.radiant-contact-form .form-row input[type=password],
.radiant-contact-form .form-row input[type=date],
.radiant-contact-form .form-row input[type=time],
.radiant-contact-form .form-row select,
.radiant-contact-form .form-row textarea {
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
}

.wraper_error_main.style-one {
	background-color: #dedede;
	background-size: cover;
	background-image: url('https://themes.radiantthemes.com/apex-clinic/clinic-two/framework_main/images/404-Error-Style-One-Background-Image.png');
}

.wraper_error_main.style-two {
	background-color: #ffffff;
}

.wraper_error_main.style-three {
	background-color: #ffffff;
}

.wraper_error_main.style-four {
	background-color: #ffffff;
}

.wraper_maintenance_main.style-one {
	background-color: #ffffff;
	background-image: url('https://themes.radiantthemes.com/apex-clinic/clinic-two/framework_main/images/Maintenance-More-Style-One-Image.png');
}

.wraper_maintenance_main.style-two {
	background-color: #ffffff;
	background-image: url('https://themes.radiantthemes.com/apex-clinic/clinic-two/framework_main/images/Maintenance-More-Style-Two-Image.png');
}

.wraper_maintenance_main.style-three {
	background-color: #ffffff;
	background-image: url('https://themes.radiantthemes.com/apex-clinic/clinic-two/framework_main/images/Maintenance-More-Style-Three-Image.png');
}

.wraper_comingsoon_main.style-one {
	background-color: #000000;
	background-size: cover;
	background-image: url('https://themes.radiantthemes.com/apex-clinic/clinic-two/framework_main/images/Coming-Soon-Style-One-Background-Image.png');
}

.wraper_comingsoon_main.style-two {
	background-color: #000000;
	background-size: cover;
	background-image: url('https://themes.radiantthemes.com/apex-clinic/clinic-two/framework_main/images/Coming-Soon-Style-Two-Background-Image.png');
}

.wraper_comingsoon_main.style-three {
	background-color: #000000;
	background-size: cover;
	background-image: url('https://themes.radiantthemes.com/apex-clinic/clinic-two/framework_main/images/Coming-Soon-Style-Three-Background-Image.png');
}
